---
import { Icon } from "@astrojs/starlight/components";
import Default from "@astrojs/starlight/components/PageTitle.astro";
import { Icons } from "../../../node_modules/@astrojs/starlight/components-internals/Icons";
import Version from "../Version.astro";

const { data } = Astro.locals.starlightRoute.entry;

const packageName = data.title.replace("@vite-deploy/", "");

function isValidIcon(name: string): name is keyof typeof Icons {
	return Object.keys(Icons).includes(name);
}
---

{data.type === "package" ? (
    <div class="wrapper">
      <h1 id="_top">
        <>
          {isValidIcon(packageName) && <Icon name={packageName} />}
          <span class="scope">@vite-deploy/</span>
          <span>{packageName}</span>
        </>
      </h1>
      <div class="package-metadata">
        <Version pkgName={data.title} />
        <a href={data.githubURL}>
          <Icon size="1rem" name="github" /> GitHub
        </a>
        <a href={"https://npmx.dev/package/" + data.title}>
          <svg
            width="16"
            height="16"
            viewBox="0 0 576 512"
            fill="currentColor"
            aria-hidden="true"
          >
            <path d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z" />
          </svg>
          npm
        </a>
        <a href={data.githubURL + "CHANGELOG.md"}>
          <Icon size="1rem" name="list-format" /> Changelog
        </a>
      </div>
    </div>
  ) : (
    <Default>
      <slot />
    </Default>
  )}

<style>
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
h1 {
	display: flex;
	flex-wrap: wrap;
	color: var(--sl-color-white);
	font-size: var(--sl-text-h1);
	font-weight: 600;
	line-height: var(--sl-line-height-headings);
	align-items: center;
}
h1 svg {
	margin-right: 1rem;
}
.scope {
	color: var(--sl-color-gray-3);
	font-weight: 400;
}
.package-metadata {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem 1rem;
	font-size: var(--sl-text-xs);
}
.package-metadata a {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	text-decoration: none;
	color: var(--sl-color-text-accent);
}
.package-metadata a:hover {
	color: var(--sl-color-white);
}
.package-metadata svg {
	width: 1.5rem;
}
</style>
