:root {
  --sl-font: var(--font-rubik);
  --sl-font-mono: var(--font-jetbrains-mono);
  font-variant-ligatures: none;
}

.pagination-links > a {
  box-shadow: none;
}

.hero h1 {
  --sl-line-height-headings: 1;
}